.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(16, 10, 10);
        color: white;
        text-align: center;
}


